---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span>{{ site.first_name }}&nbsp;{{ site.last_name }}{%- else -%}{{ site.title }}</span>{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address" style="float:left;width:50%;">
              {{ page.profile.address }}
            </div>
            <div style="float:left;width:50%;">
              <img src="{{ '/assets/img/bmht-logo.png' | relative_url }}">
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <!--<h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Latest Posts</a></h2>-->
            <div style="display:flex;align-items:center;justify-content:space-between;">
              <h2>Latest Posts</h2>
              <span><a href="{{ '/blog/' | relative_url }}" >View all</a></span>
            </div>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <div style="display:flex;align-items:center;justify-content:space-between;">
              <h2>Selected Publications</h2>
              <span><a href="{{ '/publications/' | relative_url }}" >View all</a></span>
            </div>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
